:root {
    /* theme colors */
    --cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    /* neutral */
    --light-gray: hsl(0, 0%, 59%);
}

body {
    overflow: hidden;
    position: relative;
}

html {
    overflow: hidden;
}


* {
    font-family: Kumbh Sans, sans-serif;
    font-weight: 400;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.name {
    font-weight: 700;
    font-size: 1rem;
    color: var(--desaturated-blue);
}

.city {
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--light-gray);
    margin-top: 9px;
}

.age {
    font-size: 1rem;
    color: var(--light-gray);
    margin-left: 8px;
}

.num {
    font-weight: 700;
    font-size: 1rem;
    color: var(--desaturated-blue);
}

.desc {
    font-size: 0.5rem;
    color: var(--light-gray);
    margin-top: 4.5px;
    letter-spacing: 1px;
}

.cards::before {
    position: absolute;
    height: 100vh;
    width: 100vh;
    background: url("./images/bg-pattern-top.svg") no-repeat;
    content: "";
    background-size: contain;
    margin-left: -850px;
    margin-top: -750px;
}

.cards::after {
    position: absolute;
    height: 100vh;
    width: 100vh;
    background: url("./images/bg-pattern-bottom.svg") no-repeat;
    content: "";
    background-size: contain;
    margin-right: -850px;
    margin-bottom: -800px;
}

.cards {
    background: var(--cyan);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    z-index: 1;
    background: #fff;
    border-radius: 15px;
}

.graphics {
    border-radius: 15px 15px 0 0;
}

.card-header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.profile-photo {
    position: absolute;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    border: 5px solid #fff;
}

.info {
    padding: 20px;
    align-self: center;
    margin-top: 50px;
    text-align: center;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
}

.divider {
    height: 0.5px;
    background-color: var(--light-gray);
    opacity: 0.5;
}

.stats h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}